@use '../../../shared/styles/mixins' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    flex: 1;
    min-height: 0;
}

.grid {
    padding-top: 3px;
    display: grid;
    gap: 1rem;
    max-width: 700px;
    width: 100%;
    overflow-y: auto;
    padding-right: 6px;
}

.nextButton {
    @extend %button;
    max-width: 220px;
    flex-shrink: 0;
}

.nextButton_disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.skeletonCard {
    @extend %optionCardBase;
}
